body {
    margin: 0;
    font-family: Arial, sans-serif;

    background: 
        linear-gradient(rgba(9, 48, 73, 0.5), rgba(0,128,0,0.5)),
        url("3.background.jpg") no-repeat center;

    background-size: cover;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* efek glass */
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    color: white;
}

.login-box input {
    width: 93%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #27ae60;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.register {
    margin-top: 10px;
}

.register a {
    color: #00ffcc;
    text-decoration: none;
}